.nav-wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    

    .links-wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        
       
        .nav-link-wrapper  {
            text-decoration: none;
            color: white;

            font-size: 24px;

            a {
                text-decoration: none;
                color: white;
                font-size: 24px;
            }
            &:hover {
                border-bottom: 2px solid white;
            }
            .nav-link-active  {
                font-size: 26px;
                border-bottom: 2px solid white;
            }
            
           
        }

        
    }

}